<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="umi.3174d17f.css" />
    <script>
      window.routerBase = "/@alipay/hitu-poc12";
    </script>
    <script>
      window.publicPath = window.__INJECTED_PUBLIC_PATH_BY_QIANKUN__ || "/";
    </script>
    <script>
      //! umi version: 3.2.14
    </script>
    <script>
      //! bigfish version: 3.5.4
    </script>
  </head>
  <body>
    <div id="root-slave"></div>

    <script src="umi.9e96c48b.js" entry></script>
  </body>
</html>
